@import 'variables';

main {
  position: relative;
}

body {
  padding: 0;
  margin: 0
}

.header {
  position: relative;
  background: transparent;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: $base-padding;
    max-width: $max-width-xxl;
    margin: 0 auto;
  }

  &__logo {
    img {
      width: 200px;

      @media screen and (min-width: $max-width-md) {
        width: 250px;
      }
    }
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:300,700,700i);
