* {
  box-sizing: border-box
}
.mySlides {
  display: none
}
img {
  vertical-align: middle;
}
.hero-slideshow {
  position: relative;
}
.hero-slideshow-container {
  position: relative;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-inline: 96px;
}

.hero-slideshow-container a {
  width: 100%;
}

.hero-slideshow-container
.background-image {
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero-slideshow-container
.slide-content {
  width: 100%;
}

.hero-slideshow-container
.logo {
  width: 60%;
  max-width: 450px;
  margin-bottom: 3px;
}
.hero-slideshow-container .heading,
.hero-slideshow-container .subheading {
  color: #fff;
}
.hero-slideshow-container
.heading {
  font-family: Roboto Condensed, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.5em;
  line-height: 2.5rem;
}
.hero-slideshow-container
.subheading {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  // padding: 16px;
  // margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px
  }
}