
<div class="slideshow-container">
  {{ range .slides }}
  <div class="mySlides fade">
    <a href="{{ .link }}">
      <img src="{{ .background_image }}">
      <img src="{{ .logo }}">
      <div>{{ .heading }}</div>
      <div>{{ .subheading }}</div>
    </a>
  </div>
  {{ end }}
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<script>
  let slideIndex = 0;
  let timeoutId = null;
  const slides = document.getElementsByClassName("mySlides");
  const dots = document.getElementsByClassName("dot");
  
  showSlides();
  function currentSlide(index) {
        slideIndex = index;
        showSlides();
  }
  function plusSlides(step) {
    
    if(step < 0) {
        slideIndex -= 2;
        
        if(slideIndex < 0) {
          slideIndex = slides.length - 1;
        }
    }
    
    showSlides();
  }
  function showSlides() {
    for(let i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if(slideIndex > slides.length) {
      slideIndex = 1
    }
    slides[slideIndex - 1].style.display = "block";

      if(timeoutId) {
        clearTimeout(timeoutId);
      }
    timeoutId = setTimeout(showSlides, 5000); // Change image every 5 seconds
  }
</script>