<div class="hero-slideshow">
  <div class="hero-slideshow-container">
    {{ range .slides }}
    <a class="mySlides fade" href="{{ .link }}">
      <img class="background-image" src="{{ .background_image }}">
      <div class="slide-content">
        <img class="logo" src="{{ .logo }}">
        <h1 class="heading">{{ .heading }}</h1>
        <h4 class="subheading">{{ .subheading }}</h4>
      </div>
    </a>
    {{ end }}
  </div>
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>



<script>
  let slideIndex = 0;
  let timeoutId = null;
  const slides = document.getElementsByClassName("mySlides");
  
  showSlides();
  function currentSlide(index) {
        slideIndex = index;
        showSlides();
  }
  function plusSlides(step) {
    
    if(step < 0) {
        slideIndex -= 2;
        
        if(slideIndex < 0) {
          slideIndex = slides.length - 1;
        }
    }
    
    showSlides();
  }
  function showSlides() {
    for(let i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if(slideIndex > slides.length) {
      slideIndex = 1
    }
    slides[slideIndex - 1].style.display = "block";

      if(timeoutId) {
        clearTimeout(timeoutId);
      }
    timeoutId = setTimeout(showSlides, 20000); // Change image every 5 seconds
  }
</script>