<div class="three-column-grid">
  {{ range .cards }}
  <a href="{{ .link }}" style="height: {{ $.height }}px">
    {{ if .background_image.src }}
    <img
      style="height: {{ $.height }}px; filter: brightness({{ .background_image.brightness }});"
      class="background-image"
      src="{{ .background_image.src }}"
      alt="{{ .text }}" />
    {{ else if .background_image.background_color }}
    <div
      class="background-color"
      style="background-color: {{ .background_image.background_color }}"></div>
    {{ end }}
    <h2 class="card-heading">{{ .text }}</h2>
  </a>
  {{ end }}
</div>
